.App{
  background-color: #28657C;
  color: white;
}
.App-header{
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  z-index: 10;
}
.App-logo {
  width: 20vw; 
  height: auto;
  float: right;
}
.App-tancar{
  width: 2vw;
  height: auto;
}
.App-logreg{
  width: 20vw;
  text-align: right;
  margin-right: 0;
}
a{
  color: white;
}
.App-main{
  position: relative; 
}

.App-footer{
  padding-top: 5%;
  padding-left: 5%;
  align-items: center;
  position: relative; 
}
.App-principal{
  display: block;
  padding-left: 5%;
  justify-content: center;
  align-items: center;
}

.App-sessio {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 100px;   /* Fixa l'altura del component */
  width: 200px;   
}
.App-user {
  max-width: 30%;   /* Assegura't que la imatge no sobrepassi l'amplada del seu contenidor */
  height: auto;      /* Manté l'aspecte de la imatge sense distorsionar-la */
}
.pacient{
  background-color: #f0f0f0;
  height: 100px;
  width:100px;
  display: inline-block;
  color: black;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pacientCarpeta{
    display: flex;
    width:70%;
    color: black; /* per si vols posar text al damunt */
    align-items: center;
    justify-content: center;
}

.componentPacient{
    width: 250px;
}

.malalties{
    display: block;
    width:50%;
    float: left;
}

.termes{
    display: block;
    width:50%;
    float: left;
}