.App{
  background-color: #28657C;
  color: white;
}
.App-header{
  display: block;
  position: relative; 
  z-index: 10;
}
.App-logo {
  width: 20vw;  /* 15% de l'amplada de la finestra */
  height: auto;
  pointer-events: none;
}
.App-logreg{
  text-align: right;
}
a{
  color: white;
}
.App-main{
  position: relative; 
}

.App-footer{
  padding-top: 5%;
  padding-left: 5%;
  position: relative; 
}
.App-principal{
  padding-left: 5%;
  justify-content: center;
  align-items: center;
}

.App-sessio {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 100px;   /* Fixa l'altura del component */
  width: 200px;   
}
.App-user {
  max-width: 100%;   /* Assegura't que la imatge no sobrepassi l'amplada del seu contenidor */
  height: auto;      /* Manté l'aspecte de la imatge sense distorsionar-la */
}
.pacient{
  background-color: #f0f0f0;
  height: 100px;
  width:100px;
  display: inline-block;
  color: black;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pacientCarpeta{
    background-image: url('./logos/carpeta.png'); /* ajusta el path segons on tens la imatge */
    background-size: cover;     /* adapta la imatge al contenidor */
    background-position: center; /* centra la imatge */
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    color: black; /* per si vols posar text al damunt */
    align-items: center;
    justify-content: center;
}

