.App{
  background-color: #28657C;
}
.App-header{
  display: block;
  position: relative; 
  z-index: 10;
}
.App-main{
  position: relative; 
}
.App-footer{
  padding-top: 5%;
  padding-left: 5%;
  position: relative; 
}
.App-principal{
  padding-left: 5%;
  justify-content: center;
  align-items: center;
}

.App-logo {
  width: 20vw;  /* 15% de l'amplada de la finestra */
  height: auto;
  pointer-events: none;
}

.button{
  background-color: #EC9736;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}  